@import "./my-posts.component.light-theme.scss";
@import "./my-posts.component.dark-theme.scss";

.card {
    padding: 1rem;
    margin: 0.5rem auto;
    justify-content: center;
}
.card-text {
    margin: 0;
    color: white;
    text-align: center;
}
.form-wrap {
    margin-top: -1.5rem;
}