h3 {
    color: rgba(35, 77, 32, 0.74);
}
h5 {
    font-size: 1rem;
}
p {
    font-size: 0.7rem;
}
.icon{
    fill: #96A563;
}
.modal-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-post {
    margin-left: 1rem;
}
.modal-comment {
    padding: 1rem;
    &_header {
        font-size: 18px;
        text-align: center;
    }
    &_title {
        margin-left: 1rem;
    }
}
