@import "post-page.component.light-theme.scss";
@import "post-page.component.dark-theme.scss";

.cards{
    margin-top: 1.5rem;
}
.card {
    flex-direction: row;
    padding: 1rem;
    margin: 0.5rem;
    justify-content: center;
}
.card-title {
    margin: 0;
    color: white;
}


