.main {
    height: 4rem;
    background-color: rgba(77, 85, 76, 1);
    padding: 0.5rem;
}
.main-header {
    text-align: center;
    color: white;
    font-style: italic;
    &:focus {
        outline: none;
    }
}
.main-login {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}
.main-toggle {
    color: white;
    align-self:center;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: rgb(77, 85, 76);
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color:  rgb(132, 132, 130);
    border-color: rgb(132, 132, 130);
}
.custom-control-input:focus {
    border-color: red !important;
}