<div class="main">
    <div class="container">
        <div class="row">
            <h1 class="main-header col-md-2" [routerLink]="['/']">Posts</h1>
            <p class="main-login col-md-2 offset-md-6">Log in</p>
            <div class="main-toggle custom-control custom-switch col-md-2">
                <input type="checkbox" [ngClass]="{ovalSelected: themes === 'light-theme'}" (click)="toggleTheme()"class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Dark mode</label>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
