.main {
    height: 4rem;
    background-color: rgb(77, 85, 76);
    padding: 0.5rem;
}
.main-header {
    text-align: center;
    color: white;
    font-style: italic;
    &:focus {
        outline: none;
    }
}
.main-login {
    margin-top: 0;
    color: white;
    align-self: center;
}
.main-toggle {
    color: white;
    align-self:center;
}