<div class="modal-content">
    <div class="modal-header">
        <div class="modal-post">
            <div class="modal-post-userphoto"></div>
            <h3>Nick Name</h3>
            <h4>{{content.title}}</h4>
            <h5>{{content.body}}</h5>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-comments">
        <div class="modal-comments-photo"></div>
        <h5>Lorem ipsum dolor sit amet.</h5>
    </div>
    
</div>