@import "./profile-page.component.light-theme.scss";
@import "./profile-page.component.dark-theme.scss";

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.profile-userphoto {
    display: flex;
    align-items: center;
}
.profile-info {
    margin-left: 3rem;
    &-name {
        font-size: 30px;
    }
    &-more {
        font-size: 15px;
    }
}
.profile-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profile-tabs {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    &-tab {
        width: 7rem;
        list-style: none;
        display: inline;
        margin: 0 1rem;
        text-align: center;
        padding: 0.5rem;
        &:focus {
            outline: none;
        }
    }
    &-hr {
        margin: 0 auto;
        width: 100%;
        height: 1px;
    }
}


